.container{
    margin-left: 300px;
    margin-right: 300px;
}

.box1{
    margin-top: 50px;
    text-align: center;
}

.box1{
    padding: 0px 10px;
    
}

.name{
    font-size: 1cm;
}

.box h1{
    font-size: larger;
}
h5{
    padding: 0px;
}

.last_line{
    text-align: center;
    font-size: smaller;
}